In [1]:
import pandas as pd

In [5]:
dataset = pd.read_csv(r"C:\Users\user\Downloads\csv mainflow.csv.csv")

In [6]:
dataset.head()

,Observatio,Y-Kappa,ChipRat,Unnamed: 3,BF-,Unnamed: 5,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,...,Lower-HeatT-,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4,Unnamed: 25
0,31-00:00,n,23.100,e,16.52,CMratio,121.717,1177.607,169.805,358.282,...,67.122,3.000,329.432,303.099,175.964,1127.197,1319.039,257.325,54.612,252.077
1,31-01:00,27.6,NaN,16.81,NaN,79.022,1328.360,341.327,351.050,329.067,...,60.012,330.823,304.879,163.202,665.975,1297.317,241.182,46.603,251.406,29.110
2,31-02:00,23.19,16.709,NaN,NaN,79.562,1329.407,239.161,350.022,329.260,...,NaN,329.140,303.383,164.013,677.534,1327.072,237.272,51.795,251.335,NaN
3,31-03:00,23.6,16.478,NaN,NaN,81.011,1334.877,213.527,350.938,331.142,...,68.496,328.875,302.254,181.487,767.853,1324.461,239.478,54.846,250.312,29.020
4,31-04:00,22.9,15.618,NaN,NaN,93.244,1334.168,243.131,351.640,332.709,...,70.022,328.352,300.954,183.929,888.448,1343.424,215.372,54.186,249.916,29.010

In [7]:
dataset.tail()

,Observatio,Y-Kappa,ChipRat,Unnamed: 3,BF-,Unnamed: 5,BlowFlow,ChipLevel4,T-upperExt-2,T-lowerExt-2,...,Lower-HeatT-,Upper-HeatT-3,ChipMass-4,WeakLiquorF,BlackFlow-2,WeakWashF,SteamHeatF-3,T-Top-Chips-4,SulphidityL-4,Unnamed: 25
319,10-16:00,23.75,12.667,93.45,1178.252,276.955,347.286,310.970,1.523,513.956,...,148.174,1027.201,1357.271,381.643,45.264,252.947,30.86,NaN,NaN,NaN
320,9-19:00,19.8,12.558,94.352,1184.119,297.071,399.135,319.576,1.451,570.058,...,165.178,906.962,1311.177,25.494,50.528,252.092,30.70,NaN,NaN,NaN
321,9-20:00,23.01,12.550,90.842,1188.517,289.826,373.633,314.591,1.457,549.306,...,160.841,887.125,1319.226,0.638,45.549,252.438,NaN,NaN,NaN,NaN
322,9-21:00,24.32,13.083,88.91,1192.879,318.006,364.081,308.559,1.523,504.852,...,147.589,804.423,1320.225,0.000,43.725,253.176,31.13,NaN,NaN,NaN
323,9-22:00,25.75,13.417,85.451,1186.342,248.312,356.289,310.482,1.474,497.375,...,144.218,828.328,1320.848,1.276,43.840,253.216,NaN,NaN,NaN,NaN

In [13]:
# Filtering rows where 'ChipRat' > 5
filtered_dataset = dataset[dataset['ChipRat'] > 5]
print("Filtered Data (ChipRat > 5):")
print(filtered_dataset.head())

Filtered Data (ChipRat > 5):
  Observatio Y-Kappa  ChipRat Unnamed: 3    BF- Unnamed: 5  BlowFlow  \
0   31-00:00       n   23.100          e  16.52    CMratio   121.717
2   31-02:00   23.19   16.709        NaN    NaN     79.562  1329.407
3   31-03:00    23.6   16.478        NaN    NaN     81.011  1334.877
4   31-04:00    22.9   15.618        NaN    NaN     93.244  1334.168
8   31-07:00    22.5   14.233        NaN    NaN     97.249  1346.900

   ChipLevel4  T-upperExt-2  T-lowerExt-2  ...  Lower-HeatT- Upper-HeatT-3  \
0    1177.607       169.805       358.282  ...        67.122         3.000
2     239.161       350.022       329.260  ...           NaN       329.140
3     213.527       350.938       331.142  ...        68.496       328.875
4     243.131       351.640       332.709  ...        70.022       328.352
8     330.325       352.687       328.894  ...           NaN       331.485

   ChipMass-4  WeakLiquorF  BlackFlow-2  WeakWashF  SteamHeatF-3  \
0     329.432      303.099      175.964   1127.197      1319.039
2     303.383      164.013      677.534   1327.072       237.272
3     302.254      181.487      767.853   1324.461       239.478
4     300.954      183.929      888.448   1343.424       215.372
8     303.488      174.804      889.516   1317.912       226.319

   T-Top-Chips-4  SulphidityL-4  Unnamed: 25
0        257.325         54.612      252.077
2         51.795        251.335          NaN
3         54.846        250.312       29.020
4         54.186        249.916       29.010
8         52.546        250.414          NaN

[5 rows x 26 columns]

In [14]:
# i'm handling missing values here
# Drop rows with any missing values
cleaned_dataset = dataset.dropna()
print("Cleaned Data (Dropped missing values):")
print(cleaned_dataset.head())

Cleaned Data (Dropped missing values):
  Observatio Y-Kappa  ChipRat Unnamed: 3    BF- Unnamed: 5  BlowFlow  \
0   31-00:00       n     23.1          e  16.52    CMratio   121.717

   ChipLevel4  T-upperExt-2  T-lowerExt-2  ...  Lower-HeatT- Upper-HeatT-3  \
0    1177.607       169.805       358.282  ...        67.122           3.0

   ChipMass-4  WeakLiquorF  BlackFlow-2  WeakWashF  SteamHeatF-3  \
0     329.432      303.099      175.964   1127.197      1319.039

   T-Top-Chips-4  SulphidityL-4  Unnamed: 25
0        257.325         54.612      252.077

[1 rows x 26 columns]

In [16]:
# I'm calculating summary stats here

# Let's assume dataset is a DataFrame and Y-Kappa is the column in question

print(dataset.head())

print(dataset['Y-Kappa'].unique())  

dataset['Y-Kappa'] = pd.to_numeric(dataset['Y-Kappa'], errors='coerce')


print(dataset['Y-Kappa'].isna().sum())  # This tells you how many NaN values are in the column

median_y_kappa = dataset['Y-Kappa'].median()

print("Median of 'Y-Kappa':", median_y_kappa)

  Observatio Y-Kappa  ChipRat Unnamed: 3    BF- Unnamed: 5  BlowFlow  \
0   31-00:00       n   23.100          e  16.52    CMratio   121.717
1   31-01:00    27.6      NaN      16.81    NaN     79.022  1328.360
2   31-02:00   23.19   16.709        NaN    NaN     79.562  1329.407
3   31-03:00    23.6   16.478        NaN    NaN     81.011  1334.877
4   31-04:00    22.9   15.618        NaN    NaN     93.244  1334.168

   ChipLevel4  T-upperExt-2  T-lowerExt-2  ...  Lower-HeatT- Upper-HeatT-3  \
0    1177.607       169.805       358.282  ...        67.122         3.000
1     341.327       351.050       329.067  ...        60.012       330.823
2     239.161       350.022       329.260  ...           NaN       329.140
3     213.527       350.938       331.142  ...        68.496       328.875
4     243.131       351.640       332.709  ...        70.022       328.352

   ChipMass-4  WeakLiquorF  BlackFlow-2  WeakWashF  SteamHeatF-3  \
0     329.432      303.099      175.964   1127.197      1319.039
1     304.879      163.202      665.975   1297.317       241.182
2     303.383      164.013      677.534   1327.072       237.272
3     302.254      181.487      767.853   1324.461       239.478
4     300.954      183.929      888.448   1343.424       215.372

   T-Top-Chips-4  SulphidityL-4  Unnamed: 25
0        257.325         54.612      252.077
1         46.603        251.406       29.110
2         51.795        251.335          NaN
3         54.846        250.312       29.020
4         54.186        249.916       29.010

[5 rows x 26 columns]
['n' '27.6' '23.19' '23.6' '22.9' '14.23' '13.49' '22.65' '22.5' '24.7'
 '22.6' '24.4' '26.62' '27.2' '24.05' '25.4' '24.1' '17.4' '17.8' '20'
 '20.3' '20.8' '23' '22.7' '21.4' '20.7' '18.9' '21.35' '21.1' '20.14'
 '24.15' '16.1' '12.48' '12.17' '12.81' '14.53' '18.45' '24.3' '27.1'
 '22.3' '22' '21.5' '19.2' '17' '18.08' '19.53' '20.43' '23.01' '22.38'
 '22.53' '20.74' '15.73' '18.86' '23.5' '21.8' '23.3' '18.13' '18.3'
 '14.9' '16.2' '20.6' '26.5' '23.2' '24.2' '19.08' '19.69' '19.38' '19.52'
 '18.48' '21.19' '19.77' '20.05' '19.3' '23.71' '21.6' '20.9' '17.7' '18'
 '17.1' '18.5' '19.95' '22.8' '23.7' '24' '18.8' '18.2' '15.5' '14.17'
 '17.43' '20.55' '22.35' '25.56' '24.29' '25.3' '21.88' '20.54' '20.1'
 '17.86' '19.9' '16.8' '19.1' '22.2' '21.44' '18.64' '19.05' '18.73'
 '18.81' '15.8' '17.9' '16.7' '14.8' '15.3' '16.5' '18.4' '26.02' '19.78'
 '19.22' '19.02' '16.12' '17.35' '15.03' '18.69' '17.3' '17.79' '17.98'
 '19.32' '16.72' '20.07' '22.1' '23.16' '25.1' '25.52' '24.16' '20.4'
 '18.33' '16.99' '15.77' '13.48' '14.39' '18.04' '19.93' '22.92' '25.41'
 '24.17' '24.18' '23.83' '21.56' '19.46' '20.75' '19.94' '22.21' '24.8'
 '26.1' '23.12' '17.81' '16.9' '17.6' '15.88' '17.51' '16.05' '17.75'
 '17.12' '22.09' '24.13' '19.6' '20.2' '16.3' '16.94' '20.24' '21.31'
 '24.12' '23.13' '21.2' '20.44' '19.8' '24.32' '25.75' '23.22' '22.62'
 '24.81' '23.23' '21.18' '22.01' '22.15' '23.31' '23.56' '23.9' '23.52'
 '22.88' '21.42' '23.67' '21.13' '23.75' '22.97' '21.33' '20.34' '19.91'
 '20.35' '21.25' '20.57' '22.74' '23.36' '23.17' '23.49' '20.31' '21.27'
 '23.74' '24.41' '20.37' '18.83' '21' '19.5' '19' '20.5' '24.98' '23.1'
 '20.89']
1
Median of 'Y-Kappa': 20.8